services:
  customer-db:
    image: postgres:16
    container_name: customer-db
    environment:
      POSTGRES_DB: customerdb
      POSTGRES_USER: customer
      POSTGRES_PASSWORD: customerpass
    ports:
      - "5432:5432"
    volumes:
      - customer_db_data:/var/lib/postgresql/data

  customer-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: customer-service
    depends_on:
      - customer-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://customer-db:5432/customerdb
      SPRING_DATASOURCE_USERNAME: customer
      SPRING_DATASOURCE_PASSWORD: customerpass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    ports:
      - "9091:9091"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    depends_on:
      - customer-db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"

volumes:
  customer_db_data:
